/*** Styling for Home Page ***/

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

nav img {
  height: 45px;
  width: 45px;
}

/*** Navigation Section ***/


@media only screen and (max-width: 640px) {
  nav {
    background-color: #ffffff;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    height: 100px;
    position: fixed;
    width: 100%;
  }

  .logo {
    grid-column: 1;
  }

  nav.1 {
    grid-column: 2;
  }

  nav.2 {
    grid-column: 3;
  }

  nav.3 {
    grid-column: 4;
  }

  nav.4{
    grid-column: 5;
  }

  .navLinks {
    font-family: "Montserrat";
  }
}
