/*** Styling for Home Page ***/

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container{
  color: #1b1464;
  text-decoration: none;
}

nav img {
  height: 45px;
  width: 45px;
}

/*** Navigation Section ***/


@media only screen and (max-width: 640px) {
  .container {
    align-items: center;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 20px 65px 75px 80px 65px;
    grid-template-rows: 100px auto;
    position: fixed;
    width: 100%;
  }

  .logo {
    grid-column: 2;
  }

  .name {
    grid-column: 3;
  }

  .work {
    grid-column: 4;
  }

  .bio {
    grid-column: 5;
  }

  .chat {
    grid-column: 6;
  }

  .NavLinks {
    color: #1b1464;
    display: grid;
    font-family: "Montserrat";
    font-size: 1.6rem;
    text-decoration: none;
  }
}
