/*** Styling for Home Page ***/

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.header{
  color: #1b1464;
  text-decoration: none;
}

.header {
  top: 0;
  width: 100%;
  z-index: 2;
}

/* .header img {
  height: 45px;
  width: 45px;
}*/

.cls-1{fill:#fff; stroke-width:3;}
.cls-2,.cls-3{fill:none;stroke:#fff;stroke-width:3;}
.cls-2{stroke-linecap:round;stroke-linejoin:round;stroke-width:3;}
.cls-3{stroke-miterlimit:10; stroke-width:3;}

#rblogo-white {
  fill: #fff;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: visible;
}

.hero-wrapper h1 {
  letter-spacing: 1px;
}

.logo {
  align-items: center;
  text-decoration: none;
}

.logo a {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 2rem;
  text-decoration: none;
}

.NavLinks a {
  color: #ffffff;
  font-family: "Montserrat";
  padding: .5rem 0;
  text-decoration: none;
}

a:hover {
  color: #E4B5CA;
}

.hero {
  background-image: linear-gradient(45deg, #371866, #1b1464, #46227E, #662d91, #A52686, #ed1e79);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1 {
  color: #ffffff;
  font-family: "Montserrat";
  width: 100%;
}

h2 {
  color: #ffffff;
  font-family: "Montserrat";
  width: 100%;
}

p{
  color: #fff;
  font-family: "Source Sans Pro";
  width: 100%;
}

img.arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .2rem;
  padding-bottom: 2rem;
}
.ideahub-project {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.column1 img {
  height: 45px;
}

.column1 h2 {
  font-family: "Oswald";
  font-size: 3.6rem;
  font-weight: 900;
  padding-top: 1rem;
}

.column1 p {
  color: #000;
  font-family: "Source Sans Pro";
  font-size: 1.8rem;
  padding-top: .5rem;
  width: 60%;
}

.column1 button {
  border-radius: .2rem;
  height: 4.0rem;
  text-align: center;
  width: 15rem;
}

.column2 {
  align-items: baseline;
}

.iphone {
  z-index: 1;
}

.laptop {
  z-index: 0;
}

.button:hover {
  background-color: #1b1464;
  border: 2px solid #1b1464;
  color: #fff;
}

footer {
  background-color: #1b1464;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;
  z-index: 2;
}

footer img {
  height: 45px;
  width: 45px;
}

ul.footer-links {
  align-content: center;
  display: flex;
}

ul li {
  flex: auto;
}

footer p{
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 2.0rem;
}


/* Mobile Size */

@media only screen and (min-width: 375px) and (max-width: 767px){

  /* Mobile Nav */

  .header img {
    height: 45px;
    width: 45px;
  }

    .header {
      align-items: center;
      background-color: transparent;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px auto;
      padding: 1rem 1rem;
      width: 100%;
    }


    .header .logo {
      display: inline-flex;
      grid-column: 1;
      padding-left: 1rem;
      vertical-align: middle;
    }

    .header .logo a {
      color: transparent;
    }

    .NavLinks a {
      display: block;
      float: right;
      font-size: 1.8rem;
      grid-column: 2;
      grid-row: 1;
      padding-left: 8.5rem;
      width: 100%;
    }


  /* Mobile Hero */

  .hero h1 {
    font-size: 4.4rem;
    font-weight: 900;
    line-height: 1.2;
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 8rem;
  }

  .hero h2 {
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.3;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero p {
    font-family: "Source Sans Pro";
    font-size: 2.2rem;
    line-height: 1.3;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 8rem;
    padding-top: 4rem;

  }

  /* Mobile Work */

  /* Ideahub*/
  .ideahub-project {
    background-color: #fff;
    border: 1rem solid #662D91;
    border-radius: .5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
  }

  .column1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    width: 100%;
  }

  .column1 img {
    grid-column: 1;
    margin-top: 2rem;
    padding-left: 8rem;
  }

  .column1 h2 {
    color: #000;
    font-family: "Oswald";
    font-size: 3.6rem;
    grid-column: 1;
    grid-row-start: 2;
    padding-left: 8rem;
    padding-top: 1rem;
  }

  .column1 p {
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding-top: .5rem;
    grid-column: 1;
    grid-row-start: 3;
    padding-left: 8rem;
  }

  .column1 button {
    background-color: #fff;
    border: .5rem solid #662D91;
    border-radius: .2rem;
    color: #1b1464;
    font-weight: 900;
    height: 4.0rem;
    grid-column: 1;
    grid-row: 4;
    margin-left: 8rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    text-align: center;
    width: 15rem;
  }

  .column1 button:hover {
    background-color: #1b1464;
    border: 1rem solid #1b1464;
    color: #fff;
  }

  .column2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
  }

  .iphone {
    grid-column: 1;
    grid-row: 1;
    height: 106px;
    margin-left: 2rem;
    width: 54px;
  }

  .laptop {
    grid-column: 1;
    grid-row: 1;
    height: 159px;
    margin-left: 2.5rem;
    width: 249px;
  }

/* Greenbook*/
  .greenbook-project {
    background-color: #fff;
    border: 1rem solid #662D91;
    border-radius: .5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
  }

  .greenbook-project .column1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    width: 100%;
  }

  .greenbook-project .column1 img {
    grid-column: 1;
    height: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 8rem;
    width: 70%;
  }

  .column1 p {
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding-top: .5rem;
    grid-column: 1;
    grid-row-start: 3;
    padding-left: 8rem;
  }

  .greenbook-project .column1 button {
    background-color: #fff;
    border: .5rem solid #662D91;
    border-radius: .2rem;
    color: #1b1464;
    font-weight: 900;
    height: 4.0rem;
    grid-column: 1;
    grid-row: 4;
    margin-left: 8rem;
    text-align: center;
    width: 15rem;
  }

  .greenbook-project .column1 button:hover {
    background-color: #1b1464;
    border: 1rem solid #1b1464;
    color: #fff;
  }

  .column2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
  }

  .greenbook-project .iphone {
    grid-column: 1;
    grid-row: 1;
    height: 106px;
    width: 54px;
  }

  .greenbook-project .laptop {
    grid-column: 1;
    grid-row: 1;
    height: 159px;
    width: 249px;
  }

  footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem 5rem 8rem;
    width: 100%;
  }

  .logo-white {
    margin-left: auto;
    margin-right: auto;
    grid-row: 1;
  }

  ul.footer-links {
    align-items: center;
    font-size: 2rem;
    grid-row: 2;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
  }

  footer p {
    grid-column: 1;
    grid-row: 3;
    margin-top: 2rem;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
/* Tablet Size */

.header img {
  height: 6rem;
  width: 6rem;
}

.header img {
  height: 6rem;
  width: 6rem;
}

.header {
  align-items: center;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  padding: 2rem 1rem;
  width: 100%;
}

.header .logo {
  display: inline-flex;
  grid-column: 1;
  padding-left: 3rem;
  vertical-align: middle;
}

.logo a {
  padding-left: 1rem;
}


.NavLinks a {
  display: block;
  float: right;
  font-size: 2.0rem;
  grid-column: 2;
  grid-row: 1;
  width: 33%;
}

/* Tablet Hero Section */

h1 {
  font-size: 6.8rem;
  font-weight: 900;
  line-height: 1.3;
  margin: auto;
  max-width: 650px;
  padding-top: 8rem;
  width: 100%;
}

h2{
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.3;
  margin: auto;
  max-width: 650px;
  width: 100%;
}

.hero p{
  font-family: "Source Sans Pro";
  font-size: 4.4rem;
  line-height: 1.3;
  padding-bottom: 8rem;
  margin: auto;
  max-width: 650px;
  padding-top: 4rem;
  width: 100%;
}

/* Tablet Case Study */
.ideahub-project {
  background-color: #fff;
  border: 1rem solid #662D91;
  border-radius: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 6rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 2rem;
}

.column1 {
  display: grid;
  float: left;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  margin-right: 3rem;
  width: 30%;
}

.column1 img {
  grid-column: 1;
  margin-top: 2rem;
  padding-left: 5rem;
}

.column1 h2 {
  color: #000;
  font-family: "Oswald";
  font-size: 5.6rem;
  font-weight: 900;
  grid-column: 1;
  grid-row-start: 2;
  padding-left: 5rem;
  padding-top: 1rem;
}

.column1 p {
  color: #000;
  font-family: "Source Sans Pro";
  font-size: 2.8rem;
  line-height: 3.2rem;
  padding-top: 2.5rem;
  grid-column: 1;
  grid-row-start: 3;
  margin-bottom: 2rem;
  padding-left: 5rem;
  width: 100%;
}

.column1 button {
  background-color: #fff;
  border: .5rem solid #662D91;
  border-radius: .2rem;
  color: #1b1464;
  font-size: 1.8rem;
  font-weight: 900;
  height: 6.0rem;
  grid-column: 1;
  grid-row: 4;
  margin-left: 5rem;
  width: 20rem;
}


.column2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-top: 8.0rem;
  width: 60%;
}

.iphone {
  grid-column: 1;
  grid-row: 1;
  height: 182px;
  margin-left: 3rem;
  width: 93px;
}

.laptop {
  grid-column: 1;
  grid-row: 1;
  height: 269px;
  margin-left: 5rem;
  width: 378px;
}

/* Greenbook*/
  .greenbook-project {
    background-color: #fff;
    border: 1rem solid #662D91;
    border-radius: 1rem;
    height: 42rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 6rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
  }

  .greenbook-project .column1 {
    display: grid;
    float: right;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    width: 30%;
  }

  .greenbook-project .column1 img {
    grid-column: 2;
    height: auto;
    padding-left: 0;
    padding-right: 3rem;
    width: 100%;
  }

  .greenbook-project .column1 p {
    font-family: "Source Sans Pro";
    font-size: 2.8rem;
    line-height: 3.2rem;
    padding-top: 2.5rem;
    grid-column: 2;
    padding-left: 0;
    padding-right: 3rem;
    width: 100%;
  }

  .greenbook-project .column1 button {
    background-color: #fff;
    border: .5rem solid #662D91;
    border-radius: .2rem;
    color: #1b1464;
    font-size: 1.8rem;
    height: 6.0rem;
    grid-column: 2;
    grid-row: 4;
    margin-bottom: 12rem;
    margin-right: 3rem;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    width: 20rem;
  }

  .greenbook-project .column1 button:hover {
    background-color: #1b1464;
    border: 1rem solid #1b1464;
    color: #fff;
  }

  .greenbook-project .column2 {
    display: grid;
    float: left;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding-top: 4.0rem;
    width: 60%;
  }

  .greenbook-project .iphone {
    grid-column: 1;
    grid-row: 1;
    height: 182px;
    width: 93px;
  }

  .greenbook-project .laptop {
    grid-column: 1;
    grid-row: 1;
    height: 269px;
    width: 378px;
  }

/* Tablet Footer */

        footer {
          align-items: center;
          bottom: 0;
          display: grid;
          grid-template-columns: 1fr 10fr;
          grid-template-rows: 100px auto;
          width: 100%;
        }

        footer img {
          height: 6rem;
          width: 6rem;
        }

        .logo-white {
          grid-column: 1;
          grid-row: 1;
          padding-left: 3rem;
        }

        ul.footer-links{
          display: inline-flex;
          float: right;
          font-size: 3rem;
          grid-column: 2;
          grid-row: 1;
        }

        .footer-links li {
          padding-right: 3rem;
        }

        footer p {
          grid-column: 2;
          margin-top: 2rem;
          padding-bottom: 2rem;
          padding-right: 12rem;
          text-align: center;
        }

}

@media only screen and (min-width: 900px) {
  /* Laptop and Up */

  nav img {
    height: 6rem;
    width: 6rem;
  }

  nav img {
    height: 6rem;
    width: 6rem;
  }

  nav {
    align-items: center;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px;
    padding: .5rem 1rem;
    width: 100%;
  }

  nav img {
    margin-left:0
    }

  header .logo {
    display: inline-flex;
    grid-column: 1;
    padding-left: 3rem;
    vertical-align: middle;
  }

  .logo a {
    padding-bottom: 10px;
    padding-left: 1rem;
  }

  ul {
    margin-right: 5rem;
  }

  .NavLinks a {
    display: flex;
    font-size: 2.0rem;
    justify-content: center;
    text-align: right;
    width: 25%;
  }

  /* Laptop Hero Section */

  h1 {
    font-size: 7.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin: auto;
    max-width: 920px;
    padding-top: 8rem;
    width: 100%;
  }

  h2 {
    font-family: "Source Sans Pro";
    font-size: 5.6rem;
    font-weight: 700;
    margin: auto;
    max-width: 920px;
    margin-top: -1rem;
  }

  .hero p {
    font-family: "Source Sans Pro";
    font-size: 4.0rem;
    line-height: 1.4;
    margin: auto;
    max-width: 920px;
    padding-bottom: 25rem;
  }

  /* Laptop Case Study */
  .ideahub-project {
    max-width: 1100px;
    padding-bottom: 6rem;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .column1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    margin-left: 5rem;
    margin-right: 0;
    padding-top: 4rem;
  }

  .column1 img {
    grid-column: 1;
    grid-row: 1;
    padding-left: 0;
  }

  .column1 h2 {
    font-family: "Oswald";
    font-size: 5.6rem;
    font-weight: 900;
    grid-column: 1;
    grid-row-start: 2;
    padding-left: 0;
  }

  .column1 p {
    font-family: "Source Sans Pro";
    font-size: 2.8rem;
    line-height: 3.6rem;
    grid-column: 1;
    grid-row-start: 3;
    padding-left: 0;
    padding-top: 0;
    width: 80%;
  }


  .column1 button {
    background-color: #fff;
    border: .5rem solid #662D91;
    border-radius: .2rem;
    color: #1b1464;
    font-size: 1.8rem;
    height: 6.0rem;
    grid-column: 1;
    grid-row: 4;
    margin-left: 0;
    margin-top: 4rem;
    padding-left: 0;
    text-align: center;
    width: 24rem;
  }


  .column2 {
    display: flex;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-right: 5rem;
    padding-top: 4rem;
    width: 65%;
  }

  .iphone {
    grid-column: 1;
    grid-row: 1;
    height: 23.8rem;
    margin-left: -1rem;
    margin-top: 19rem;
    position: absolute;
    width: 12rem;
  }

  .laptop {
    grid-column: 1;
    grid-row: 1;
    height: 43rem;
    margin-left: 2rem;
    width: 67rem;
  }

  /* Greenbook*/
    .greenbook-project {
      height: 53rem;
      max-width: 1100px;
      padding-bottom: 6rem;
      padding-top: 2rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 6rem;
      margin-bottom: 6rem;
    }

    .greenbook-project .column1 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      margin-left: 3rem;
      margin-right: 5rem;
      padding-top: 2rem;
      width: 25%;
    }

    .greenbook-project .column1 img {
      grid-column: 2;
      height: auto;
      padding-right: 5rem;
      width: 100%;
    }

    .greenbook-project .column1 p {
      font-family: "Source Sans Pro";
      font-size: 2.8rem;
      line-height: 3.2rem;
      padding-top: 2.5rem;
      grid-column: 2;
      grid-row-start: 3;
      padding-bottom: 2rem;
      padding-right: 5rem;
      width: 100%;
    }

    .greenbook-project .column1 button {
        background-color: #fff;
        border: .5rem solid #662D91;
        border-radius: .2rem;
        color: #1b1464;
        font-size: 1.8rem;
        height: 6.0rem;
        grid-column: 2;
        grid-row: 4;
        margin-right: 5rem;
        margin-top: 0rem;
        padding-left: 0;
        text-align: center;
        width: 24rem;
    }

    .greenbook-project .column1 button:hover {
      background-color: #1b1464;
      border: 1rem solid #1b1464;
      color: #fff;
    }

    .greenbook-project .column2 {
      grid-column: 1;
      grid-row: 1;
      margin-left: 5rem;
      margin-right: 0;
      padding-top: 4.0rem;
      width: 60%;
    }

    .greenbook-project .iphone {
      grid-column: 1;
      grid-row: 1;
      height: 23.8rem;
      margin-top: 19rem;
      width: 12rem;
    }

    .greenbook-project .laptop {
      grid-column: 1;
      grid-row: 1;
      height: 43rem;
      width: 67rem;
    }


  /* Laptop Footer */

  footer {
    align-items: center;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 100px auto;
    width: 100%;
  }

  footer img {
    height: 6rem;
    width: 6rem;
  }

  .logo-white {
    grid-column: 1;
    grid-row: 1;
    padding-left: 3rem;
  }

  ul.footer-links{
    display: inline-flex;
    float: right;
    font-size: 3rem;
    grid-column: 2;
    grid-row: 1;
  }

  .footer-links li {
    padding-right: 3rem;
  }

  footer p {
    grid-column: 2;
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 12rem;
    text-align: center;
  }

}
