/* Style for Lets-Chat Page */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

main {
  overflow-x: hidden;
}


.container{
  background-color: transparent;
  color: #1b1464;
  opacity: 0.8;
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.name {
  display: none;
}

nav img {
  height: 45px;
  width: 45px;
}

.logo {
  align-items: center;
  text-decoration: none;
  z-index: 100;
}

.logo a.name {
  color: #1b1464;
  font-family: "Montserrat";
  font-size: 2rem;
  text-decoration: none;
}

#menuToggle a {
  color: #1b1464;
  font-family: "Montserrat";
  font-weight: 900;
  letter-spacing: .1rem;
  padding: .5rem 0;
  text-decoration: none;
}

#menuToggle {
  display: block;
  float: right;
  top: .5rem;
  right: 5rem;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input{
  display: block;
  width: 4rem;
  height: 3.2rem;
  position: absolute;
  opacity: 0;
  margin-left: -7px;
  margin-top: -5px;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 3.3rem;
  height: .4rem;
  margin-bottom: .5rem;
  background: #fff;
  border-radius: .3rem;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #1b1464;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#NavLinks {
  position: absolute;
  height: 400px;
  width: 100vw;
  /*margin: -100px 0 0 -100vw;*/
  padding: 50px;
  padding-top: 140px;
  background: #fff;
  opacity: 1;
  list-style-type: none;
  text-align: center;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  z-index: -1;
}

#menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
}

a:hover {
  color: #F5569C;
}

/* container */

h1{
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
}

p{
  color: #ffffff;
  font-family: "Source Sans Pro";
  text-align: center;
}

main{
  background-image: linear-gradient(45deg, #1b1464, #ed1e79);
  height: 100vh;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 3rem;
  margin: 0 auto;
  width: 100%;
}

label {
  color: #ffffff;
}

.contact-form form input {
  background: #F1EAFB;
  color:#1b1464;
  font-family: "Montserrat";
  height:5rem;
  letter-spacing: .1rem;
  margin-bottom:3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding:.5rem 1rem;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
  width:100%;
}

.contact-form form textarea {
  background: #F1EAFB;
  color:#1b1464;
  font-family: "Montserrat";
  height:30rem;
  letter-spacing: .1rem;
  margin-bottom:2.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding:.5rem 1rem;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
  width:100%;
}

 .contact-form form .button {
  background:#ffffff;
  border: none;
  border-radius: .2rem;
  color:#1b1464;
  font-family: "Montserrat";
  font-size: 1.6rem;
  height:5.0rem;
  margin-left: auto;
  margin-right: auto;
  padding:.5rem 1rem;
	width:25rem;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}

  form .button:hover{
    background-color: #1b1464;
    border: 2px solid #ffffff;
    color: #ffffff;
  }

/* footer */

footer {
  background-color: #1b1464;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;
  z-index: 2;
}

footer img {
  height: 45px;
  width: 45px;
}

ul.footer-links {
  align-content: center;
  display: flex;
}

ul li {
  flex: auto;
}

footer p{
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 1.6rem;
}

/* Mobile Size */

@media only screen and (min-width: 360px) and (max-width: 767px) {

  /* Mobile Nav */

  nav img {
    height: 45px;
    width: 45px;
  }

  .logo {
    margin-left: 1rem;
  }

    nav {
      align-items: center;
      background-color: #ffffff;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px auto;
      padding: .5rem 1rem;
      width: 100%;
    }

    header .logo {
      display: inline-flex;
      grid-column: 1;
      grid-row: 1;
      padding-right: 4rem;
      margin-left: 2rem;
      padding-bottom: 2rem;
      padding-top:2rem;
      vertical-align: middle;
    }

    .logo a {
      color: #ffffff;
    }

    a.name {
      display: none;
    }

    #menuToggle {
      grid-column: 2;
      grid-row: 1;
      top: 3.5rem;
      right: 3rem;
      margin-bottom: 3rem;
      margin-left: 12rem;
      position: absolute;
    }

    #NavLinks {
      height: 300px;
      width: 100vw;
      margin: -100px 0 0 -100vw;
      right: -90%;
      position: absolute;
    }

    #NavLinks a {
      display: block;
      float: right;
      font-size: 1.8rem;
      grid-column: 2;
      grid-row: 1;
      padding-bottom: .5rem;
      width: 100%;
    }

    /* Mobile Form */

    h1 {
      font-size: 4.2rem;
      padding-top: 5rem;
    }

    p{
      font-size: 2.2rem;
      line-height: 2.8rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 3rem;
      padding-top: 2rem;
    }

    .container form input {
      width: 100%;
    }

    .container form textarea {
      width: 100%;
    }

    input {
      font-size: 1.8rem;
    }

    textarea {
      font-size: 1.8rem;
    }

    /* Mobile Footer */
    footer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      width: 100%;
    }

    .logo-white {
      margin-left: auto;
      margin-right: auto;
      grid-row: 1;
    }

    ul.footer-links {
      align-items: center;
      font-size: 2rem;
      grid-row: 3;
      text-align: center;
    }

    footer p {
      grid-column: 1;
      grid-row: 2;
      line-height: 1.3;
      text-align: center;
    }
  }


  @media only screen and (min-width: 768px) {
  /* Tablet Size */


    nav img {
      height: 6rem;
      width: 6rem;
    }

    nav {
      align-items: center;
      background-color: #ffffff;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px;
      padding: .5rem 1rem;
      width: 100%;
    }

    .logo {
      align-items: center;
      display: inline-flex;
      grid-column: 1;
      padding-left: 3rem;
      margin-top: 2rem;
      vertical-align: middle;
    }

    .logo img {
      margin-left: 2rem;
    }

   .logo a.name {
      padding-left: 1rem;
    }

    #menuToggle {
      grid-column: 2;
      grid-row: 1;
      top: 5rem;
      right: 5rem;
      margin-bottom: 3rem;
      margin-left: 12rem;
      position: absolute;
    }

    #NavLinks {
      height: 400px;
      width: 100vw;
      margin: -100px 0 0 100vw;
      position: absolute;
      right: -150%;
    }

    #NavLinks a {
      display: block;
      float: right;
      font-size: 2.4rem;
      grid-column: 2;
      grid-row: 1;
      padding-bottom: 1rem;
      width: 100%;
    }


    /* Tablet Form */

    h1 {
      font-size: 4.8rem;
      padding-top: 5rem;
    }

    p{
      font-size: 2.2rem;
      line-height: 2.8rem;
      margin-left: 15rem;
      margin-right: 15rem;
      padding-bottom: 5rem;
      padding-top: 3rem;
    }

    input {
      font-size: 1.8rem;
    }

    textarea {
      font-size: 1.8rem;
    }

    /* Tablet Footer */

    footer {
      align-items: center;
      bottom: 0;
      display: grid;
      grid-template-columns: .5fr 3fr 1fr;
      grid-template-rows: auto;
      width: 100%;
    }

    footer img {
      height: 6rem;
      width: 6rem;
    }

    .logo-white {
      grid-column: 1;
      grid-row: 1;
      padding-left: 3rem;
    }

    ul.footer-links{
      display: inline-flex;
      float: right;
      font-size: 2rem;
      grid-column: 3;
      grid-row: 1;
    }

    .footer-links li {
      padding-right: 2rem;
    }

    footer p {
      grid-column: 2;
      grid-row: 1;
      margin-top: 2rem;
      padding-bottom: 2rem;
      margin: 0;
      text-align: center;
    }

  }

    @media only screen and (min-width: 900px) {
      /* Laptop and Up */

      nav img {
        height: 6rem;
        width: 6rem;
      }

      nav {
        align-items: center;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px;
        padding: .5rem 1rem;
        width: 100%;
      }

      header .logo {
        display: inline-flex;
        grid-column: 1;
        padding-left: 3rem;
        vertical-align: middle;
      }

      .logo a {
        padding-bottom: 10px;
        padding-left: 1rem;
      }

      #menuToggle {
        grid-column: 2;
        grid-row: 1;
        top: 5rem;
        right: 5rem;
        position: absolute;
        margin-bottom: 3rem;
      }

      #NavLinks {
        height: 400px;
        width: 100vw;
        margin: -100px 0 0 -100vw;
      }

      #NavLinks a {
        display: block;
        float: right;
        font-size: 3.2rem;
        grid-column: 2;
        grid-row: 1;
        padding-bottom: 1rem;
        width: 100%;
      }

      /* Laptop Form */

      h1 {
        font-size: 5.0rem;
        padding-top: 8rem;
      }

      p{
        font-size: 2.2rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        padding-bottom: 3rem;
        padding-top: 2rem;
      }

      input {
        font-size: 1.8rem;
      }

      textarea {
        font-size: 1.8rem;
      }

      /* Laptop Footer */

      footer {
        align-items: center;
        bottom: 0;
        display: grid;
        grid-template-columns: 1fr 2fr .5fr;
        grid-template-rows: 1fr;
        width: 100%;
      }

      footer img {
        height: 6rem;
        width: 6rem;
      }

      .logo-white {
        grid-column: 1;
        grid-row: 1;
        padding-left: 3rem;
      }

      ul.footer-links{
        display: inline-flex;
        float: right;
        font-size: 3rem;
        grid-column: 3;
        grid-row: 1;
      }

      .footer-links li {
        padding-right: 3rem;
      }

      footer p {
        grid-column: 2;
        margin-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 12rem;
        text-align: center;
      }

    }
