/* Styling for IdeaHub Project */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container{
  color: #1b1464;
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
}

nav img {
  height: 45px;
  width: 45px;
}

.logo {
  align-items: center;
  text-decoration: none;
}

.logo a {
  font-family: "Montserrat";
  font-size: 2rem;
  text-decoration: none;
}

.NavLinks a {
  color: #1b1464;
  display: block;
  font-family: "Montserrat";
  padding: 0 3rem;
  text-decoration: none;
}

/* Hero */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.logo {
  height: 45px;
  width: 27px;
}

/* Deliverables */

section.Deliverables {
  margin-bottom: 10rem;
  text-align: center;
}

section.Deliverables h1 {
  font-family: "Source Sans Pro";
  font-size: 2.0rem;
  font-weight: 900;
  padding-bottom: 1rem;
}

section.Deliverables p {
  font-family: "Source Sans Pro";
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: .5rem;
}

ul.Roles {
  padding-top: 2rem;
}

ul.Deliverables {
  padding-top: 1rem;
}

ul.Tools.Used {
  padding-top: 1rem;
}


/*Footer*/
footer {
  background-color: #1b1464;
  bottom: 0;
  width: 100%;
  padding: 20px 20px;
}

footer img {
  height: 45px;
  width: 45px;
}

ul.footer-links {
  align-content: center;
  display: flex;
}

ul li {
  flex: auto;
}

/* Mobile Size */

@media only screen and (max-width: 640px) {

  /* Mobile Nav */

  nav img {
    height: 45px;
    width: 45px;
  }

    nav {
      align-items: center;
      background-color: #ffffff;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px auto;
      padding: 2rem 1rem;
      width: 100%;
    }

    header .logo {
      display: inline-flex;
      grid-column: 1;
      grid-row: 1;
      padding-right: 7rem;
      vertical-align: middle;
    }

    .logo a {
      display: none;
    }

    .NavLinks a {
      display: block;
      float: right;
      font-size: 1.8rem;
      grid-column: 2;
      grid-row: 1;
      padding-left: 3rem;
    }

  /* Mobile Hero */
  section.hero {
    display: grid;
    grid-template-columns: 50px 270px 50px;
    grid-template-rows: 170px 60px 50px 50px 50px;
    width: 100%;
  }

  img {
    grid-column: 2;
    grid-row: 1;
    height: 159px;
    width: 249px;
  }

  img.logo {
    grid-column: 2;
    grid-row: 2;
    margin-left: 3.5rem;
  }

  h2.hero{
    font-family: "Oswald";
    font-size: 4.5rem;
    font-weight: 900;
    grid-column: 2;
    grid-row: 2;
    padding-left: 7.5rem;
  }

  p.hero{
    font-family: "Source Sans Pro";
    font-size: 1.6rem;
    grid-column: 2;
    grid-row: 3;
    text-align: center;
  }

  section button {
    background-color: #1b1464;
    border: none;
    border-radius: .2rem;
    color: #ffffff;
    height: 4.0rem;
    text-align: center;
    width: 20rem;
  }

  div.button-mobile {
    display: block;
    grid-column: 2;
    grid-row: 4;
    margin-left: auto;
    margin-right: auto;
  }

  div.button-desktop {
    display: block;
    grid-column: 2;
    grid-row: 5;
    margin-left: auto;
    margin-right: auto;
  }

  /* Mobile Deliverables */

  section.Deliverables {
    display: grid;
    grid-template-columns: 50px 270px 50px;
    grid-template-rows: 145px 225px 100px;
  }

  ul.Roles{
    grid-column: 2;
    grid-row: 1;
  }

  ul.Deliverables{
    grid-column: 2;
    grid-row: 2;
  }

  ul.Tools.Used {
    grid-column: 2;
    grid-row: 3;
  }


  /* Mobile Footer */
  footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    width: 100%;
  }

  .logo-white {
    margin-left: auto;
    margin-right: auto;
    grid-row: 1;
  }

  ul.footer-links {
    align-items: center;
    font-size: 2rem;
    grid-row: 2;
    padding-top: 4rem;
    text-align: center;
  }
}
